html{
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-attachment : fixed;
}
.main{
	width:800px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgba(0, 0, 0, 0.21)
}
.left{
	width:240px;
	height:600px;
	float:left;
	overflow: auto;
	border-right: 1px solid rgba(0, 0, 0, 0.21);
}
.right{
	width:550px;
	height:600px;
	float:left;
}
#receiver_nickname{
	width:550px;
	text-align:center;
	color:white;
	font-size:20px;
}
.chat_frame{
	border: 1px solid rgba(0, 0, 0, 0.21);
	width: 500px;
	height: 500px;
	overflow: auto;
	margin-left:25px;
	margin-bottom: 10px;
}
.sender_words {
	overflow: hidden;
	color:white;
}

.receiver_words {
	overflow: hidden;
	color:white;
}
.sender_words img {
	margin: 10px;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	float: right;
}
.sender_words div {
	margin: 10px 10px;
	padding: 13px 9px;
	background-color: rgba(0, 0, 0, 0.21);
	border-radius: 3px;
	width: auto;
	max-width: 300px;
	float: right;
	clear: left;
}
.receiver_words div {
	margin: 10px 10px;
	padding: 13px 9px;
	background-color: rgba(0, 0, 0, 0.21);
	border-radius: 3px;
	width: auto;
	max-width: 300px;
	float: left;
	clear: right;
}

.receiver_words img {
	margin: 10px;
	width: 30px;
	height: 30px;
	float: left;
}
.time {
	text-align: center;
}
.time span {
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0.21);
	text-align: center;
	color: white;
	padding: 1px 18px;
	border-radius: 2px;
	margin: 0 auto;
}
.item {
	position: relative;
	width:240px;
	height:90px;
	cursor: pointer;
	color: #fff;
	margin-bottom:5px;
	background-color:rgba(0, 0, 0, 0.21);
}

.item img {
	width: 50px;
	height: 50px;
	margin: 18px;
	float:left;
}
.item_content {
	float:right;
	padding: 2px;
	width: 140px;
	height:90px;
}
.item_content h3 {
	margin-bottom: 2px;
	overflow: hidden;
}

.item_content p {
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
}
.items {
	overflow: hidden;
}
.alert{
	visibility: hidden;
}
.msg_show{
	float:right;
	width:40px;
	height:40px;
}
.alert_show{
	position: absolute;
	top: 30px;
	right: 20px;
	height: auto;
	width: 20px;
	background-color: red;
	overflow: hidden;
	border-radius: 20px;
	text-align: center;
	visibility: visible;
}
button{
	background-color: rgba(0, 0, 0, 0);
	color:white;
	height:35px;
	font-size:16px;
	border:1px solid rgba(0, 0, 0, 0.21);
}
input{
	background-color: rgba(0, 0, 0, 0);
	color:white;
	height:30px;
	margin-top:5px;
	border:1px solid rgba(0, 0, 0, 0.21);
	font-size:16px;
}